:root {
    --achtergrondkleur: #f0f0f0; 
    --kaartkleur: #ffffff;
    --tekstkleur: #2e2e2e;
    --rood: #ce0101;
    --zwart: #000000; 
}

body {
    background-color: var(--achtergrondkleur);
    color: var(--tekstkleur);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

